/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  --on-hover-primary: greenyellow;
  --on-hover-secondary: black;
}

* {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

body {
  background-image: url(./assets/bg.png);
  min-height: 100vh;
}

.body-center {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
.hover-2 {
  text-decoration: none !important;
  color: white !important;
}

a:hover {
  color: green !important;
}

.hover-2:hover {
  color: rgb(9, 50, 9) !important;
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  max-width: 50% !important;
  max-height: 50% !important;
}

.logout:hover {
  cursor: pointer;
  color: green !important;
  border-radius: 5%;
}

.page-link {
  background-color: white !important;
  border-color: gray !important;
  color: green !important;
}

.page-link:hover {
  background-color: gray !important;
  border-color: white !important;
  color: white !important;
}

.disabled>.page-link {
  background-color: white !important;
  color: grey !important;
  border-color: grey !important;
}

.active>.page-link {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
}

.left-post-content {
  width: 60%;
}

.right-post-content {
  width: 40%;
}

.post-card {
  margin: 2rem 0 !important;
  border: none !important;
  border-top: 1px solid rgb(228, 213, 213) !important;
  border-bottom: 1px solid rgb(228, 213, 213) !important;
  border-radius: 0 !important;
}

@media ((max-width: 576px)) {
  .card-row .card-col:nth-of-type(1) {
    order: 2;
  }

  .card-row .card-col:nth-of-type(2) {
    order: 1;
  }

}

.new-post{
  padding: 1rem;
  background-color: rgb(213, 245, 208);
  color: black;
  border-radius: 10px;
}

.new-post:hover{
  cursor: pointer;
  background-color: rgb(119, 224, 119);
  color: black;
  border-radius: 10px;
}

.post-content a {
  color: green !important;
  text-decoration: underline !important;
}

.feed-content {
  font-family: 'Inter', sans-serif !important;
}

.feed-content a {
  color: green !important;
  text-decoration: underline !important;
}

.min-height {
  min-height: 90vh;
}

.a-success a {
  color: black !important;
  text-decoration: underline !important;
}

.delete-icon,
.edit-icon {
  color: gray !important;
}

.delete-icon:hover {
  cursor: pointer;
  color: rgb(222, 79, 79) !important;
}

.edit-icon:hover {
  cursor: pointer;
  color: green !important;
}


.vibrate-3 {
  -webkit-animation: vibrate-3 .5s linear both;
  animation: vibrate-3 .5s linear both
}

@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}